body {
  max-width: 800px;
  margin: auto;
  padding: 1em;
  line-height: 1.5;
  background:  #000000;
  color:#f2edef;
  font-size:22px;
}

/* header and footer areas */
.menu { padding: 0; }
.menu li { display: inline-block; }
.article-meta, .menu a {
  text-decoration: none;
  background: #090909;
  padding: 5px;
  /*border-radius: 5px;*/
  color: #ffc7ec;
  border-bottom: 4px solid #ffc7ec
}
.menu, .article-meta, footer { text-align: center; }
.title { font-size: 1.1em; }
footer a { text-decoration: none; }
hr {
  border-style: dashed;
  color:  #ffc7ec;
}
footer a i {
	  color: #444;
	    transition: color 0.2s;
	    height:50px;
	    width:auto;
    }

/* code */
pre {
  border: 1px solid #ddd;
  box-shadow: 5px 5px 5px #eee;
  padding: 1em;
  overflow-x: auto;
  color:#ffc7ec;
}
code { background: #655555; 
color:#ffc7ec;
}
pre code { background: none; }

/* misc elements */
img, iframe, video { max-width: 100%; }
main { hyphens: auto; }
blockquote {
  background: #f9f9f9;
  border-left: 5px solid #ccc;
  padding: 3px 1em 3px;
  color:#ffc7ec;
}
a:visited {
	    color:#ffc7ec; /* Change to any color you want*/ 
    }
a {
	    color:#ffc7ec; /* Change to any color you want*/ 
	    text-decoration: none;
    }
table {
  margin: auto;
  border-top: 1px solid #666;
  border-bottom: 1px solid #666;
}
table thead th { border-bottom: 1px solid #ddd; }
th, td { padding: 5px; }
thead, tfoot, tr:nth-child(even) { background: #eee; }
.site-header-figure img {
	  width: 180px;
	    height: 180px;   /* adjust for your liking */
	      object-fit: cover;   /* crops nicely */
	        display: block;
		  margin: 0 auto;       /* center if smaller than width */
		  border-radius: 50%; 
		  border: 3px solid #ffc7ec;
	  }

