body {
	  background-image: url('/images/complexsystem4.png'); /* put your image in /static/images/ */
	    background-size: auto;
	      background-repeat: repeat-y;
	        background-position: center center;
		background-attachment: fixed;
	}

